
*{
    cursor:default;
    font-family: font;
}

::-webkit-scrollbar,::-webkit-scrollbar-thumb{
    visibility: hidden;
    width: 0px;
    height: 0px;
    transform: scale(0);
}
.nav_bar{   
    background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(5px);
    font-size: 20px;
    margin: 0 auto;
    z-index: 10;
    position: fixed;
    left: 0;
    padding-left: 3%;
    padding-right: 2%;
    top: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.logo{
    height: 74px;
    width: 74px;
}
.nav_options{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_option_text:hover{
    transition:color 0.12s linear;
color: black;
}
.auth_buttons{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authrized_options{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.nav_bar a{
    color: #6c6c6c;
  text-decoration: none;
}
.active{
    color: black;

}
.vert_nav{
 height: 100px;
 margin-right: -87px;
 display: flex;
 justify-content: space-around;
 padding-right: 2%;
 gap: 100px;
 width: 80%;
}

.Sign_in,.authzed_buttn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:5px;
    align-items: center;
    border-radius: 10px;
    height: 48%;
    font-size: 1.1rem;
    background-color: rgb(25,135,247);
    transition:gap 0.12s linear;
}
.Sign_in:hover{
    gap: 8px;
    background-color: rgb(4, 96, 187);
}
.hamburger{
    z-index: 7;
    visibility: hidden;
    height: 0;
    width: 0;
    transform: scale(0);
    position: absolute;
}

@media  screen and (width<=854px) {
    .nav_bar{
        padding: 0;
    }
    .vert_nav{
        right: -20%;
        visibility: hidden;
        width: 0;
        background-color: black ;
        transform: scale(0);
        justify-content: flex-start;
        padding-top: 50px;
        margin-right: 0px;
        align-items: end;
        gap: 15px;
        font-size: max(1.5vw,16px);
        flex-direction: column;
        z-index: -1;
        position: absolute;
        transition: right 0.4s cubic-bezier(0,.64,0,.91);
        top: 0px;
        
    }

    /* to make the vertical navbar visible when hamburger is clicked */
    .vert_visible{
        visibility: visible;
        width: 190px;
        border-left: 5px solid rgb(25,135,247);;
        transform: scale(1);
        transform-origin: right;
        right: 0%;
        height: max(900px,100vh);
        z-index: 105;
     }
     .vert_visible a {
        color: white;
     }
     .vert_nav a:hover{
        color: rgb(25,135,247);
     }
     .authrized_options{
        flex-direction: column;
        justify-content: flex-start;
        height: 80%;
     }

    .nav_options{
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        height: 154px;
        border-bottom: 0.6px solid rgb(232, 232, 232);
        width: 160px;
    }
    .auth_buttons{
        height: 200px;
        width: 180px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 5%;
    }
    .Sign_in{
        width: 80%;
        height: 20%;
    }
    .authzed_buttn{
        width: 80%;
        height: 23%;
    }
    .hamburger{
        visibility: visible;
        margin-left: 15px;
        z-index: 106;
        height: fit-content;
        width: fit-content;
        transform: scale(1);
        right: 5px;

    }
}