.dashboard{
   position: relative;
   top: 80px;
   height: max(100vh - 80px, 700px);
   width: 100vw;
}
@media (max-width: 670px){
   .dashboard{
       top: 80px;
       padding-left: 10px;
       padding-right: 10px;
       display: flex;
       justify-content: flex-start;
       flex-direction: column;
       align-items: center;
       gap: 20px;
   }
   .dashboard_up{
      height: 15%;
      width: 100%;
      display: flex;
      gap: 5px;
      justify-content: center;
      padding: 20px 0 0 10px ;
      align-items: flex-start;
      flex-direction: column;
   }
   .dash_head{
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.04rem;
   }
   .dash_msg{
      margin-left: px;
      font-size: 0.8rem;
      width: 90%;
      color: rgb(96, 96, 96);
      text-align:left;
      font-weight: 400;
   }
   .dashboard_down{
         gap: 20px;
         height: 80%;
         width: 100%;
         display: flex;
         justify-content: flex-start;
         flex-direction: column;
         align-items: center;
   }
   .up_buttons{
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      height: 10%;
      width: 100%;
   }
   .add_btn,.import_btn{
      height: 38px;
      border-radius: 5px;
      border: 0.3px solid rgba(151, 147, 95, 0.345);
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.03rem;
      width: 160px;
   }
   .add_btn{
      background-color: #008EFF;
      color: white;
   }
   .import_btn{
      background-color: black;
      color: white;
   }
   .table_cont{
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
   }
}
