.login{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    top: 60px;
    position: fixed;
    gap: 50px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}
.login button{
    width: 20%;
    height: 50px;
    background-color: #3862a5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.image_container{
    height: 100%;
    
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.mail_anim_cont{
    height: 400px;
    width:400px;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
.login_sect{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -60px;

    justify-content: center;
    align-items: center;
}
.card_container{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.log_head{
    font-size: 45px;;
    font-weight: bold;
    color: #ffffff;
}
.log_text{
    font-size: 17px;
    color: #ffffff;
}
.log_link{
  height: 40px;
    width: 50%;
    font-size: 17px;
}
.log_link_t{
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  color: rgb(0, 0, 0);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  cursor: pointer;
}
.log_terms{
    font-size: 14px;
    font-weight: 100;
    width: 80%;
    color: #626262;
}