*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#root {
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth ;
  text-align: center;
  overflow-x: hidden;
  
}
body {
  height: max(100vh,700px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
@font-face {
  font-family: font;
  src: url('./assets/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
}

